.admin-panel-nav {
    /* parent nav */
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
}

.nav-ul {
    display: flex;
    flex-direction: column;
    place-content: center;
    list-style: none;
}
.nav-ul li {
    text-align: center;
    margin: 25px auto;
    /* border: 2px solid var(--clr-logo); */
    border-radius: 25px;
    transition: 0.7s;
    padding: 0;
    max-width: fit-content;
}
.nav-ul li::before {
    /* content: "\2020  "; */
    content: "\261B  ";
    font-size: 26px;
    color: var(--clr-logo-red);
    transition: 0.7s;
}
.nav-ul li::after {
    content: "  \261A";
    font-size: 26px;
    color: var(--clr-logo-red);
    transition: 0.7s;
}

.nav-ul li:hover {
    background-color: var(--nav-light-yellow);
}

.nav-ul li:hover::before {
    color: var(--marker-light-blue);
}
.nav-ul li:hover::after {
    color: var(--marker-light-blue);
}

.nav-ul li a , .nav-ul li a:visited {
    font-size: 20px;
    text-decoration: none;
    color: var(--text-light-green);
}
/* form styling */
#form-div {
    display: flex;
    flex-direction: column;
    width: 80dvw;
    margin: 0 auto;
    height: auto;
    place-content: center;
    place-items: center;
    background-color: var(--clr-logo-red);
    border-radius: 10px;
}

#form-div input ,#form-div select  {
    width: 80%;
    text-align: center;
    height: 40px;
    /* font-size: 28px; */
    font-size: 24px;
    cursor: pointer;
    border: 1px var(--clr-logo-red) solid;
    border-radius: 10px;
}

#form-div button {
    height: 50px;
    font-size: 28px;
    margin-top: 25px;
    width: 50%;
    border: 2px red solid;
    border-radius: 25px;
    cursor: pointer;
    color: var(--clr-logo-red);
    transition: 0.3s;
}

#form-div button:hover {
    background-color: var(--text-light-green);
    color: var(--nav-light-yellow);
}
.labels{
    width: 100%;
    place-items: center;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 640px) {
    .nav-ul li a {
        font-size: 48px;
    }
    .nav-ul li::after , .nav-ul li::before {
        font-size: 48px;
    }
    #form-div {
        width: 30dvw;
    }
}
