.admin-panel-nav {
    /* parent nav */
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
}

.nav-ul {
    display: flex;
    flex-direction: column;
    place-content: center;
    list-style: none;
}
.nav-ul li {
    text-align: center;
    margin: 25px auto;
    /* border: 2px solid var(--clr-logo); */
    border-radius: 25px;
    transition: 0.7s;
    padding: 0;
    max-width: fit-content;
}
.nav-ul li::before {
    /* content: "\2020  "; */
    content: "\261B  ";
    font-size: 48px;
    color: var(--clr-logo-red);
    transition: 0.7s;
}
.nav-ul li::after {
    content: "  \261A";
    font-size: 48px;
    color: var(--clr-logo-red);
    transition: 0.7s;
}

.nav-ul li:hover {
    background-color: var(--nav-light-yellow);
}

.nav-ul li:hover::before {
    color: var(--marker-light-blue);
}
.nav-ul li:hover::after {
    color: var(--marker-light-blue);
}

.nav-ul li a , .nav-ul li a:visited {
    font-size: 48px;
    text-decoration: none;
    color: var(--text-light-green);
}

#quizDateHeader {
    text-align: center;
    font-size: 28px;
}

#quizDate {
    text-align: center;
    color: red;
    font-size: 24px;
}

@media screen and (max-width : 640px){
    
    .nav-ul li::before {
        font-size: 28px;
    }
    .nav-ul li::after {
        font-size: 28px;
    }
    .nav-ul li a , .nav-ul li a:visited {
        font-size: 20px;
    }
    #form-div {
        width: 80dvw;
    }
    #form-div input,#form-div select {
        margin: 10px 0px;
    }
    #form-div button {
        margin-bottom: 10px;
        background-color: var(--nav-light-yellow);
    }
    .labels {
        margin-top: 10px;
    }
}