:root{
    --bg-light: rgba(255,255,255,1);
    --clr-logo: red;
    --btn-light: hsl(120,100%,35%);
}

#install {
    display: none;
    position: absolute;
    bottom: 0;
    background-color: red;
    color: white;
    border-radius: 5px;
}

h1 {
    margin: 0 auto;
    font-size: 72px;
    color: var(--clr-logo);
    text-shadow: 0px 0px 3px black;
}

body {
    background-color: var(--bg-light);
    width: 98dvw;
    height: 95dvh;
    max-height: 98dvh;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    font-size: 32px;
}

#app {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    width: 100dvw;
    height: 100dvh;
    flex-wrap: wrap;
}

#form {
    border-radius: 10px;
    padding: 25px;
    width: 50dvw;
    /* height: 40%; */
    display: flex;
    flex-direction: column;
    place-content: center;
    flex-wrap: wrap;
    margin: 25px auto;
    background-color: var(--clr-logo);
    box-shadow: 0px 0px 5px black;
}

#form input , #form label {
    width: 90%;
}
#form label {
    color: white;
}
#form input {
    margin: 10px 0px;
    font-size: 32px;
    color: var(--clr-logo);
}

#form button {
    background-color: var(--btn-light);
    margin: 20px auto;
    width: 50%;
    height: 48px;
    font-size: 24px;
    font-weight: 600;
    border: 3px solid hsl(60, 100%, 60%);
    letter-spacing: 10px;
    border-radius: 25px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

#app a, #app a:visited {
    padding: 5px;
    background-color: hsl(60, 100%, 50%);
    box-shadow: 0px 0px 5px 2px black;
    color: hsl(120,75%,35%);
    border-radius: 5px;
    text-decoration:none;
    font-weight: 700;
    margin: 0 auto;
}


.loadPage {
    position: absolute;
    display: flex;
    place-content: center;
    place-items: center;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
    width: 100dvw;
    height: 100dvb;
}

.box {
    width: 40dvw;
    height: 5dvh;
    background-color: black;
    border-radius: 25px;
}

.eye {
    position: relative;
    background-color: red;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    z-index: 2;
    animation: loader linear 1.5s infinite;
}

.dialog {
    transition-duration: 2s;
    max-width: 280px;
    height: auto;
    position: absolute;
    bottom: 2dvh;
    right: 1dvw;
    border-radius: 5px;
    color: White;
}

.error {
    background-color: red;
}

.respond {
    background-color: green;
}

#response {
    color: var(--clr-logo);
    text-align: center;
    max-height: 20px;
}

@keyframes loader {
    0% {
        width: 50px;
        left: 0;
    }
    5% {
        width: 50px;
        left: 5%;
    }
    15%{
        width: 100px;
    }
    85%{
        width: 100px;
    }
    95% {
        width: 50px;
        left: 95%;
    }
    100% {
        width: 5px;
        left: 100%;
    }
}
@media screen and (max-width: 640px) {
    body{
        width: 96.5dvw;
        height: 98dvh;
        overflow-y: hidden;
        display: flex;
        place-items: center;
        place-content: center;
    }
    #install {
        position: absolute;
        bottom: 0;
        font-size: 18px;

        padding: 1px 3px;
        border-radius: 10px;
    }
    #app {
        width: 90dvw;
        place-content: center;
        place-items: center;
    }
    #form {
        place-content: center;
        width: 85dvw;
        height: 45dvh;
        padding: 5px;
        margin: 0;
    }
    a {
        font-size: 18px;
        padding: 0;
    }
    #form input , #form label {
        width: 80dvw;
    }   
}