/*
    --bg-light: rgba(255,255,255,1);
    --clr-logo-red: red;
    --btn-light-green: hsl(120,100%,35%);
    --btn-light-yellow: hsl(60,100%,65%);
    --btn-light-red: hsl(0,100%,50%);
    --marker-light-blue: hsl(220,100%,50%);
    --text-light-green : hsl(120,100%,35%);
    --text-light-yellow : hsl(60,100%,65%);
    --nav-light-yellow: hsl(60,100%,65%);
*/


.card {
    background-color: var(--clr-logo-red);
    border-radius: 5px;
    font-size: 18px;
    color: white;
    margin: 10px 20px;
    padding: 10px 5px;
    box-shadow: 0 0 1px 3px rgba(150,150,150,1);
}