#resetPasswordForm {
    display: flex;
    flex-direction: column;
    place-items: center;
    font-size: 24px;
    box-shadow: 0px 0px 5px 1px red;
    border-radius: 5px;
    padding: 10px 20px;
    color: red;
    width: 60vw;
}
input {
    margin: 5px 0 20px 0;
    border-radius: 5px;
    padding: 8px 2px;
}

button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 12px;
    font-weight: 600;
}

@media screen and (min-width: 700px) {
    #resetPasswordForm {
        width: 20vw;
    }
    button {
        height: 28px;
    }
}