/*
:root{
    --bg-light: rgba(255,255,255,1);
    --clr-logo-red: red;
    --btn-light-green: hsl(120,100%,35%);
    --btn-light-yellow: hsl(60,100%,65%);
    --btn-light-red: hsl(0,100%,50%);
    --marker-light-blue: hsl(220,100%,50%);
    --text-light-green : hsl(120,100%,35%);
    --text-light-yellow : hsl(60,100%,65%);
    --nav-light-yellow: hsl(60,100%,65%);
}
*/
#table-section {
    display: flex;
    width: 90dvw;
    flex-direction: column;
    place-items: center;
}

.question-head {
    padding: 10px 0;
    background-color: var(--clr-logo-red);
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 96dvw;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px black;
}

.question-row textarea {
    border-radius: 5px;
    min-width: 88dvw;
    max-width: 88dvw;
    height: 15dvh;
    max-height: 100px;
    font-size: 24px;
    word-wrap: break-word;
}

.option-row input[type=text] {
    width: 50dvw;
    height: 30px;
    margin: 2px 5px;
}

.option-row button {
    padding: 4px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
}

.oLabels {
    font-size: 16px;
    margin: 0 5px;
    box-shadow: 0px 0px 1px 2px white;
    border: 2px ridge white;
    border-radius: 2px;
    background-color: white;
    color: red;
    padding: 2px 5px;
    transition: 0.5s;

}

.oLabels[answer=true] {
    background-color: green;
    color: yellow;
}

.option-row input[type=radio] {
    width: 1px;
}

.saved-question {
    width: 96dvw;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    border: 5px solid red;
    border-radius: 5px;
    box-shadow: 0px 0px 5px red;
    background-color: var(--clr-logo-red);
    margin: 10px 0;
}

.saved-question #question-h3 {
    width: 98%;
    box-shadow: 0px 0px 5px 1px black;
    font-size: 28px;
    margin: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--text-light-green);
    color: var(--nav-light-yellow);
}

.saved-question h3 label {
    display: flex;
    place-content: space-between;
    padding-left: 5px;
    align-items: center;
    font-size: 18px;
    background-color: aliceblue;
    margin: 2px;
    box-shadow: 0px 0px 2px 1px var(--nav-light-yellow);
    width: 98%;
    color: black;
}

.saved-question h3 label[answer=true] {
    background-color: var(--text-light-green);
    color: var(--nav-light-yellow);

}

.saved-question button {
    height: 30px;
    font-size: 20px;
    width: 100%;
    margin-top: 5px;
    box-shadow: 0px 0px 2px 1px var(--nav-light-yellow);
    background-color: var(--btn-light-yellow);
}
#table-section div p {
    margin: 5px 0;
    font-size: 18px;
    border-radius: 10px;
    background-color: red;
    text-align: center;
    color: white;
    font-weight: 700;
    padding: 10px 5px;
}

@media only screen and (min-width: 700px) {
    .saved-question {
        width: 30dvw;
    }

    #table-section {
        width: 30dvw;
    }
    .question-head {
        width: 32dvw;
    }

    .question-head .question-row textarea {
        min-width: 30dvw;
    }

    .question-row {
        width: 30dvw;
    }

    .option-row input[type=text]{
        width: 20dvw;
    }

    .option-row button {
        font-size: 12px;
    }
    
    #table-section div p {
        font-size: 20px;
    }
}
